<template>
  <div
    :class="[
      'p-table-row',
      {
        'p-table-row__table-head': isTableHead,
      },
    ]"
  >
    <slot />
  </div>
</template>

<script>
/**
 * Component: p-table-row - Component for table row
 *
 * @version 1.0.0
 */

export default {
  name: 'p-table-row',

  props: {
    isTableHead: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
/** @define p-table-row */
.p-table-row {
  $this: &;

  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;

  &__table-head {
    background: var(--gray-default);
  }
}
</style>
