<template>
  <div class="p-stock-table-section">
    <p-button
      data-test="button-load-data"
      @click="getTableData"
    >
      Get data
    </p-button>

    <div class="p-stock-table-section__table">
      <p-no-data
        v-if="isLoadingTableDataError"
      >
        No data
      </p-no-data>

      <p-table
        v-if="getSortedTableData.length"
        :table-data="getSortedTableData"
      />
    </div>

    <p-progress
      v-if="isLoadingTableData"
    />
  </div>
</template>

<script>
/**
 * Component: p-stock-table-section - Component for load and show table data
 *
 * @version 1.0.0
 */

// Utils
import {
  mapActions,
  mapState,
  mapGetters,
} from 'vuex';

// Components
import PButton from '@/components/ui-components/PButton';
import PTable from '@/components/stock-table/PTable';

// UI Components
import { PProgress } from '@/components/ui-components/index';
import PNoData from '@/components/ui-components/PNoData';

export default {
  name: 'p-stock-table-section',

  components: {
    PNoData,
    PTable,
    PButton,
    PProgress,
  },

  computed: {
    ...mapState('table', ['isLoadingTableData', 'isLoadingTableDataError']),

    ...mapGetters('table', ['getSortedTableData']),
  },

  methods: {
    ...mapActions('table', ['getTableData']),
  },
};
</script>

<style lang="scss">
/** @define p-stock-table-section */
.p-stock-table-section {
  $this: &;

  border: 2px solid var(--border-default);
  border-radius: 3px;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 60px;
  position: relative;

  &__table {
    margin-top: 40px;
    padding: 0 20px;
  }
}
</style>
