<template>
  <div class="p-table">
    <p-table-row
      is-table-head
    >
      <p-table-cell
        is-table-head
        align="left"
      >
        Stock
      </p-table-cell>

      <p-table-cell
        is-table-head
      >
        Current
      </p-table-cell>

      <p-table-cell
        is-table-head
        align="right"
      >
        Change
      </p-table-cell>
    </p-table-row>

    <p-table-row
      v-for="(item, index) in tableData"
      :key="`p-table__row-${index}`"
      class="p-table__row"
    >
      <p-table-cell
        align="left"
      >
        {{ item.stock }}
      </p-table-cell>

      <p-table-cell>
        {{ item.start }}
      </p-table-cell>

      <p-table-cell
        v-is-negative
        v-trim="2"
        align="right"
      >
        {{ item.current }}
      </p-table-cell>
    </p-table-row>
  </div>
</template>

<script>
/**
 * Component: p-table - Component for show table data
 *
 * @version 1.0.0
 */

// Utils
import { mapState } from 'vuex';

// UI Components
import PTableRow from '@/components/ui-components/PTableRow';
import PTableCell from '@/components/ui-components/PTableCell';

// Directives
import {
  isNegative,
  trim,
} from '@/directives';

export default {
  name: 'p-table',

  components: {
    PTableCell,
    PTableRow,
  },

  directives: {
    isNegative,
    trim,
  },

  props: {
    tableData: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    ...mapState('table', ['isLoadingTableDataError']),
  },
};
</script>

<style lang="scss">
/** @define p-table */
.p-table {
  $this: &;
}
</style>
