---
to: src/components/<%= name %>/<%= name %>.vue
---
<template>
  <div class="<%= h.changeCase.paramCase(name) %>">

  </div>
</template>

<script>
/**
 * Component: <%= h.changeCase.paramCase(name) %> - Component for ....
 *
 * @version 1.0.0
 */

export default {
  name: '<%= h.changeCase.paramCase(name) %>',

  props: {

  },
};
</script>

<style lang="scss">
/** @define <%= h.changeCase.paramCase(name) %> */
.<%= h.changeCase.paramCase(name) %> {
  $this: &;
}
</style>
