<template functional>
  <div class="p-no-data">
    <slot />
  </div>
</template>

<script>
/**
 * Component: p-no-data - Component for displaying empty data response
 *
 * @version 1.0.0
 */

export default {
  name: 'p-no-data',
};
</script>

<style lang="scss">
/** @define p-no-data */
.p-no-data {
  $this: &;

  font-size: 18px;
  font-weight: 900;
}
</style>
