<template>
  <div
    :class="[
      'p-table-cell',
      `p-table-cell__table-head-align-${align}`,
      {
        'p-table-cell__table-head': isTableHead,
      },
    ]"
  >
    <slot />
  </div>
</template>

<script>
/**
 * Component: p-table-cell - Component for table cell
 *
 * @version 1.0.0
 */

export default {
  name: 'p-table-cell',

  props: {
    isTableHead: {
      type: Boolean,
      default: false,
    },

    align: {
      type: String,
      default: 'center',
      validate: (value) => ['center', 'left', 'right'].includes(value),
    },
  },
};
</script>

<style lang="scss">
/** @define p-table-cell */
.p-table-cell {
  $this: &;
  width: 33.333%;

  &__table-head {
    font-weight: 900;

    &-align {
      &-left{
        text-align: left;
      }

      &-center{
        text-align: center;
      }

      &-right{
        text-align: right;
      }
    }
  }
}
</style>
