<template functional>
  <div
    aria-label="Loading"
    class="p-progress"
  >
    <div class="p-progress__text">
      Loading...
    </div>
  </div>
</template>

<script>
/**
 * Component: p-progress - Component for displaying loading state
 *
 * @version 1.0.0
 */

export default {
  name: 'p-progress',
};
</script>

<style lang="scss">
/** @define p-progress */
.p-progress {
  $this: &;

  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  background: rgba(#000000, 0.7);

  &__text {
    color: var(--white-default);
    font-weight: bold;
    font-size: 20px;
  }
}
</style>
