<template>
  <button
    class="p-button"
    @click="$emit('click', $event)"
  >
    <slot />
  </button>
</template>

<script>
/**
 * Component: p-button - Component for button ui component
 *
 * @version 1.0.0
 */

export default {
  name: 'p-button',
};
</script>

<style lang="scss">
/** @define p-button */
.p-button {
  $this: &;

  border: 1px solid var(--border-default);
  border-radius: 3px;
  background: var(--gray-default);
  font-weight: 600;
  padding: 8px 31px;
}
</style>
