<template>
  <div id="app">
    <img
      alt="Vue logo"
      src="./assets/peiko-logo-mini.png"
    >
    <h1
      data-test="page-title"
    >
      Test
    </h1>
    <hr>
    <p-stock-table-section />
  </div>
</template>

<script>

// Components
import PStockTableSection from '@/components/stock-table/PStockTableSection';

export default {
  name: 'App',

  components: {
    PStockTableSection,
  },

  data() {
    return {
      test: '',
    };
  },
};
</script>

<style lang="scss">
@import "./assets/scss/global";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
